html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

:root {
  --black: rgba(21, 21, 21);
}

ul {
  list-style: none;
  padding: 0;
}

.page-transition-container {
  position: relative;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: all 200ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: all 200ms;
}

img {
  max-width: 100%;
}

.link {
  color: yellow;
}
