html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.page-transition-container {
  position: relative;
}

.page-revealer {
  position: absolute;
  background: #212121;
}


.page-enter .page-revealer {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page-enter-active  .page-revealer{
  top: 100%;
  transition: all 450ms;
}

.page-exit .page-revealer{
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
}

.page-exit-active .page-revealer {
  top: 0%;
  transition: all 450ms;
}

